@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
    font-family: 'Lobster', cursive;
    margin: 0px;
    background-image: url(../img/fond8.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

header .navbar {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.507);
}

header .navbar-logo {
    float: left;
}

header .navbar-list {
    float: right;
}

header .navbar li {
    display: inline-block;
    margin: 0 10px 0 10px;
}

header .navbar li a {
    text-decoration: none;
    color: white;
}

header img {
    width: 20%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.banniere {
    margin-top: 30px;
    padding: 0px 30px 0px 30px;
    height: 90px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 25px;
    border: none;
}

.team h1 {
    margin-bottom: 0px;
}

.banniere .btn {
    padding: 15px 40px 15px 40px;
    margin: 0px 15px;
    border-radius: 25px;
    border: none;
}

.banniere .btn-bg1 {
    background-image: url(../img/btn1.png);
    background-size: 100%;
    background-position-y: -25px;
}

.banniere .btn-bg2 {
    background-image: url(../img/btn2.png);
    background-size: 100%;
    background-position-y: -20px;
}

.banniere .btn-bg3 {
    background-image: url(../img/btn3.png);
    background-size: 100%;
    background-position-y: -17px;
}

.banniere .btn-bg4 {
    background-image: url(../img/btn4.png);
    background-size: 100%;
    background-position-y: -25px;
}

.banniere .btn-bg5 {
    background-image: url(../img/btn5.png);
    background-size: 100%;
    background-position-y: -25px;
}

.banniere .btn-bg6 {
    background-image: url(../img/btn6.png);
    background-size: 100%;
    background-position-y: -25px;
}

.banniere .btn-bg7 {
    background-image: url(../img/btn7.png);
    background-size: 100%;
    background-position-y: -19px;
}

.banniere .btn-bg8 {
    background-image: url(../img/btn8.png);
    background-size: 100%;
    background-position-y: -15px;
}

.banniere .btn-bg9 {
    background-image: url(../img/btn9.png);
    background-size: 100%;
    background-position-y: -25px;
}

.sous-team {
    display: inline-block;
}

.sous-team img {
    width: 300px;
    margin: 10px;
    opacity: 0.8;
}

.team {
    text-align: center;
    color: black;
    font-size: 30px;
}

footer {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.507);
}

footer i:hover {
    color: rgb(255, 25, 25);
}

header .navbar li a:hover {
    color: rgb(255, 25, 25);
}

footer img {
    height: 50px;
    animation: spin 4s linear infinite;
}

footer .footer-left {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .footer-right {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}

.banniere .btn:hover {
    height: 50px;
    margin-top: -20px;
}

.banniere .test {
    padding: 25px;
}

.imgban {
    width: 600px;
}

.color {
    background-color: rgba(192, 42, 252, 0.616)
}

.fond2 {
    background-image: url(../img/testfond4.png);
}

.sous-team h3 {
    background-color: rgba(32, 32, 32, 0.555);
    color: white;
    padding: 10px;
}